* {
    margin:0;
    padding:0;
}

body {
    position: relative;
    font-family: "Verdana, Geneva, Tahoma, sans-serif";
    font-size: 20px;
    background-color: aquamarine;
    color: brown;
}

h1 {
    margin: 20px;
}
h3 {
    text-align: center;
    margin-bottom: 30px;
}

main{
    padding: 60px 0;
}

header {                
    position: fixed;
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: lightblue;
    border-bottom: 10px solid darkblue
    
    
}

footer {
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: lightblue;
    line-height: 60px;
    border-top: 10px solid darkblue;
}

figure {
    margin-bottom: 50px;

   
   
}

figcaption {
  text-align: center;
  margin-top: -20px;
  font-style:italic;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 200px;
}

li {
    display: inline;
    padding: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;

}

form {
    margin: 0 auto;
    width: 400px;
    padding: 10px;
    border: 5px solid navy;
    border-radius: 20px;

    
    }

input {
    box-sizing: border-box;
    width: 200px;
    border: 1px solid mediumblue;

    }

label {
    display:inline-block;
    width: 100px;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}